<div class="page">
  <div class="card">

    <h1 class="title">Organiza aí!</h1>

    <div class="new-list">
      <%= link_to "＋ Nova Lista", new_todo_list_path, class: "btn primary" %>
    </div>

    <ul class="list-group">
      <% @lists.each do |list| %>
        <li class="list-item <%= 'completed-list' if list.completed? %>">
          <%= link_to list.title, todo_list_path(list), class: "list-link" %>
          <% if list.completed? %>
            <span class="completed-badge">Concluída</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
